**/.venv
**/venv
*.pyc
**/.env
**/.coverage
**/__pycache__
**/.pytest_cache
**/quiz_and_mock/
.DS_Store
**/.ipynb_checkpoints/
**/.jupyter/
**/.virtual_documents/
**/.vscode/
**/.github/

**/session-18-BigData

**/resume_prepare